@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --text: #eae7f9;
  --background: #07040b;
  --primary: #181024;
  --accent: #aaca3f;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  color: var(--text);
}

body {
  height: 100vh;
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  background-color: var(--primary);
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-size: 50px;
}

footer {
  border-top: 3px solid var(--accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  aspect-ratio: 1;
  width: 60%;
  animation: 5s infinite idleAnimation;
}

/* --------------------------------------------------------------------------------------------- */

.tela {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.jogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70vh;

  row-gap: 30px;
}

.opcoes {
  width: 70%;
  height: 10vh;
  border-radius: 10px;
  background-color: var(--primary);
  column-gap: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.opcao {
  background-color: var(--accent);
  color: var(--primary);
  width: 10%;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;

  font-family: "Pixeled";
  font-size: 20px;
}
.opcao:hover {
  transition: 0.1s;
  background-color: var(--background);
  color: var(--text);
}

.inimigo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  border: 3px solid var(--accent);
}
.inimigo > h2 {
  font-size: 45px;
}
.containerHp{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  animation: 5s infinite reverse idleAnimation;

  background-color: var(--primary);
  box-shadow: 5px 5px 0px 1px var(--text);

  position: fixed;
  top: 300px;
  right: 1100px;

  width: 100px;
  aspect-ratio: 1;
}

.hpPlayer {
  
  color: rgb(206, 26, 26);
}
.hpMonstro {
  color: var(--accent);
}
#conta{
  font-family: "Pixeled";
  font-size: 20px;
}
#derrota{
  position: absolute;
  width: 70%;
  height: 100%;
  z-index: 1;

  border-radius: 30px;
  background-color: var(--primary);
  border: 3px solid var(--background);
  row-gap: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  visibility: hidden;
}
#derrota > h1{
  font-size: 100px;
  font-weight: bold;
  color: var(--text);
}
#derrota > button{
  width: 50%;
  height: 50px;
  background-color: var(--accent);
  border: 2px solid var(--background);
  border-radius: 10px;
  cursor: pointer;
  
  color: var(--background);
  font-size: 30px;
  
}
#derrota > img {
  width: 20%;
  aspect-ratio: 1;
  animation: none;
}

.containerPontuacao {
  position: fixed;
  top: 300px;
  right: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  width: min-content + 10px;
  height:40px;
  background-color: var(--primary);
  box-shadow: 5px 5px 0px 1px var(--text);

  padding: 10px;
}

#pontuacao{
  font-family: "Pixeled";
  font-size: 17px;
}

#score{
  font-size:40px;
  color: var(--accent);
}
/* --------------------------------------------------------------------------------------------- */

@keyframes idleAnimation {
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

@font-face {
  font-family: "Pixeled";
  src: url("../styles/Pixeled.ttf");
}