@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --text: #eae7f9;
  --background: #07040b;
  --primary: #181024;
  --secondary: #7d5421;
  --accent: #aaca3f;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  color: var(--text);
}

body {
  height: 100vh;
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  overflow: hidden;
}
.tela {
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35vh;
}
header {
  background-color: var(--primary);
}
.jogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: red;

  row-gap: 30px;
}

.opcoes {
  width: 70%;
  min-height: 100px;
  border-radius: 10px;
  background-color: var(--primary);
  column-gap: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.opcao {
  background-color: var(--accent);
  color: var(--primary);
  width: 10%;
  height: 50px;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.opcao:hover {
  transition: 0.1s;
  background-color: var(--background);
  color: var(--text);
}

footer {
  border-top: 3px solid var(--accent);
}
