<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../styles/inimigos/orc4.png" type="image/x-icon">
    <title>Quiz matemático</title>
</head>

<!-- 
    TODO
    scoreboard na tela - cleber 
    arrumar as respostas nos botões de escolha - cleber
    mais perguntas - sigma
    media query - andrezao
    melhorar tela final - andrezao
-->

<body onload="init()">
    <div id="derrota">
        <h1>Você perdeu!</h1>
        <p id="score"></p>
        <button id="recarregar">Tentar de novo!</button>
    </div>
    <div class="tela">
        <h1>Quiz Matemático</h1>
        <div class="containerHp">
            <h2 id="hp_player" class="hpPlayer"></h2>
        </div>
        <h2 id="hp_monstro" class="hpMonstro"></h2>
        <form class="jogo" id="form">
            <div class="inimigo">
                <img src="../styles/inimigos/orc1.png" alt="" id="imgMonstro">
                <h2 id="conta"></h2>
            </div>
            <div class="opcoes">
                <button class="opcao" id="botao0" onclick="checarResposta('botao0')"></button>
                <button class="opcao" id="botao1" onclick="checarResposta('botao1')"></button>
                <button class="opcao" id="botao2" onclick="checarResposta('botao2')"></button>
            </div>
        </form>
        <div class="containerPontuacao">
            <h2 id="pontuacao" class="pontuacao"></h2>
        </div>
        <footer>
            <p>@André, Eber e Erick</p>
        </footer>

        <script src="../controllers/handleResposta.js"></script>
    </div>
</body>

</html>