<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Quiz matemático</title>
</head>

<body onload="init()">
    <div class="tela">
        <h1>Quiz Matemático</h1>
        <form class="jogo" id="form">
            <div class="inimigo">
                <img src="../styles/inimigos/orc.png" alt="">
                <h2 id="conta">1 + 1 = ?</h2>
            </div>
            <div class="opcoes">
                <button class="opcao" id="botao0" onclick="checarResposta(0)"></button>
                <button class="opcao" id="botao1" onclick="checarResposta(1)"></button>
                <button class="opcao" id="botao2" onclick="checarResposta(2)"></button>
            </div>
        </form>
        <footer>
            <p>@André, Eber e Erick</p>
        </footer>

        <script src="../controllers/handleResposta.js"></script>
    </div>
</body>

</html>