<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Quiz matemático</title>
</head>

<body>
    <div class="tela">
        <header>Quiz Matemático</header>
        <main class="jogo">
            <div class="inimigo">inimigo</div>
            <div class="opcoes">
                <button>1+1</button>
                <button>1+1</button>
                <button>1+1</button>
            </div>
        </main>
        <footer>
            <p>Criadores: André, Eber e Erick</p>
            <p>Sprites por: @JoeCreates</p>
        </footer>
    </div>
</body>

</html>